/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

/* BOOTSTRAP SIZE SCREEN
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide) */

/* xs first */

aside{
    background-color: black;
    width: 5%;
    height: 900px;
    float: left;
}

main{
    width: 95%;
    height: 900px;
    float: left;
}

footer{
    background-color: lightgrey;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

.header-main{
    width: 100%;
    height: 100px;
    background-color: rgba(0,255,0, 0.4);
    border: 1px solid pink;
    position: fixed;
    z-index: 1;
}

.content-main{
    width: 100%;
    height: 800px;
    margin-top: 100px;
    background-color: purple;
    overflow: auto;
}

.left-foot,
.right-foot{
    height: 100%;
    width: 20%;
    background-color: tomato;
}

.mid-foot{
    height: 100%;
    width: 45%;
    background-color: wheat;
}