/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

/* BOOTSTRAP SIZE SCREEN
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide) */

/* xs first */

/* sidebar */

aside{
    background-color: black;
    width: 50px;
    height: calc(100vh - 100px);
    min-height: 450px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside .top-side{
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

aside .bottom-side{
    height: 80px;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

#playlist{
    padding: 10px;
}

#playlist h3{
    text-transform: uppercase;
    display: none;
}

#playlist i{
    background-color: grey;
    color: black;
    padding: 10px;
    font-size: 20px;
    margin: 10px 10px 10px 0;
}

.bottom-side .button-nav{
    display: flex;
    align-items: center;
}

#download{
    width: 20px;
    padding-bottom: 10px;
    
}

#user{
    background-color: grey;
    border-radius: 50%;
    width: 30px;
    padding: 5px;
}

aside .top-side img{
    width: 50px;
    padding: 5px 10px 0;
}

aside a{
    display: none;
}

aside .bottom-side img{
    padding: 0 1px;
}

#big-logo{
    display: none;
}

/* fine sidebar */

main{
    width: calc(100% - 50px);
    /* altezza totale viewport - altezza footer */
    height: calc(100vh - 100px);
    float: left;
}

.header-main{
    width: calc(100% - 50px);
    height: 70px;
    background-color: rgba(0,0,0, 0.9);
    line-height: 70px;
    position: fixed;
    right: 0;
    z-index: 2;
    text-align: right;
}

.header-main a{
    padding: 5px 20px;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
}

.content-main{
    width: 100%;
    height: calc(100% - 70px);
    background-color: rgb(20, 25, 34);
    margin-top: 70px;
    padding: 10px;
    overflow: auto;
}

.content-main nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-main nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
    margin: 10px 10px;
    font-weight: bold;;
}

#bord-btm{
    border-bottom: 1px solid lightgreen;
}

.content-main h2{
    padding: 10px 0;
}

.content-main .songs-list{
    display: flex;
    flex-wrap: wrap;
}

.song-box{
    width: 47%;
    margin-right: 15px;
}

.song-box img{
    width: 100%;
}

.song-description{
    text-align: center;
}

.round{
    border-radius: 50%;
    overflow: hidden;
}

/* footer */

footer{
    background-color: lightskyblue;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

.left-foot,
.right-foot{
    height: 100%;
    width: 20%;
    background-color: lightgreen;
}

.mid-foot{
    height: 100%;
    width: 45%;
    background-color: lightseagreen;
}

.top-mid-foot,
.btm-mid-foot{
    height: 50%;
}

.top-mid-foot{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}



/* responsive */


@media screen and (min-width: 768px) {
    aside{
        width: 180px;
    }
    
    #small-logo{
        display: none;
    }

    #big-logo{
        display: block;
        width: 150px;
        margin-bottom: 15px;
    }

    #home{
        border-left: 2px solid lightgreen;
    }

    aside a{
        display: inline;
        text-decoration: none;
        color: white;
    }

    #playlist{
        display: block;
    }

    #playlist h3{
        display: block;
    }

    .bottom-side a{
        margin-left: 10px;
    }
    
    .bottom-side .button-nav:first-of-type{
        border-bottom: 1px solid grey;
        margin-bottom: 5px;
    }

    main{
        width: calc(100% - 180px);
    }

    .header-main{
        width: calc(100% - 180px);
    }

}

@media screen and (min-width: 992px) {

    .song-box{
        width: 22%;
    }
}

@media screen and (min-width: 1200px) {

    .song-box{
        width: 15%;
    }
}

/* debug */

/* .debug main{
    background-color: crimson;
} */

/* .debug .top-side{
    background-color: chocolate;
} */

/* .debug .bottom-side{
    background-color: cornflowerblue;
} */

.debug .top-mid-foot{
    border: 1px solid orange;
    background-color: red;
}

.debug .btm-mid-foot{
    border: 1px solid green;
    background-color: greenyellow;
}